apiVersion: v1
kind: ConfigMap
metadata:
  name: rhdh-config-job-config
  namespace: {{ .Values.namespace }}
data:
  CLUSTER: "{{ .Values.cluster }}"
  GITLAB_NAMESPACE: "{{ .Values.gitlab.namespace }}"
  GITOPS_REPO_URL: "{{ .Values.gitops.repoUrl }}"
  GITOPS_BRANCH: "{{ .Values.gitops.branch }}"

