apiVersion: v1
kind: ConfigMap
metadata:
  name: rhdh-config-job-config
  namespace: {{ .Values.namespace }}
data:
  CLUSTER: "{{ .Values.cluster }}"
  GITLAB_NAMESPACE: "{{ .Values.gitlab.namespace }}"
  GITOPS_REPO_URL: "{{ .Values.gitops.repoUrl }}"
  GITOPS_BRANCH: "{{ .Values.gitops.branch }}"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: rhdh-config-job-playbook
  namespace: {{ .Values.namespace }}
data:
  playbook.yaml: |
    - name: Configure RHDH
      hosts: localhost
      gather_facts: no
      vars:
        ansible_connection: local
        cluster: {{ .Values.cluster }}  # Default cluster, can be overridden with -e cluster=<name>
        gitlab_namespace: "{{ .Values.gitlab.namespace }}"
      tasks:
        - name: Get GitLab's Route
          kubernetes.core.k8s_info:
            api_version: route.openshift.io/v1
            kind: Route
            name: gitlab
            namespace: '{{ "{{" }} gitlab_namespace {{ "}}" }}'
          register: gitlab_route
          failed_when: gitlab_route.resources|length == 0
          until: gitlab_route is succeeded
          retries: 60
          delay: 5

        - set_fact:
            gitlab_hostname: '{{ "{{" }} gitlab_route.resources[0].spec.host {{ "}}" }}'

        - name: Disable AutoSync for backstage-gitops gitops Application
          kubernetes.core.k8s_json_patch:
            api_version: argoproj.io/v1alpha1
            kind: Application
            namespace: openshift-gitops
            name: backstage-gitops
            patch:
              - op: remove
                path: /spec/syncPolicy/automated
          ignore_errors: yes

        - name: Disable AutoSync for backstage gitops Application
          kubernetes.core.k8s_json_patch:
            api_version: argoproj.io/v1alpha1
            kind: Application
            namespace: openshift-gitops
            name: backstage
            patch:
              - op: remove
                path: /spec/syncPolicy/automated
          ignore_errors: yes

        - name: Getting RHDH ConfigMap
          kubernetes.core.k8s_info:
            api_version: v1
            kind: ConfigMap
            namespace: backstage
            name: backstage-developer-hub-app-config
          register: configmap_data

        # - name: Create a file with configmap_data content
        #   copy:
        #     content: "{{ "{{" }} configmap_data.resources[0].data['app-config.yaml']{{ "}}" }}"
        #     dest: before_file.yaml 

        - name: Convert the ConfigMap data from YAML to a dict
          set_fact:
            configmap_data_dict: "{{ "{{" }} configmap_data.resources[0].data['app-config.yaml'] | from_yaml {{ "}}" }}"

        - name: Get existing catalog locations
          set_fact:
            existing_locations: "{{ "{{" }} configmap_data_dict.catalog.locations | default([]) {{ "}}" }}"

        - name: Define users catalog location
          set_fact:
            users_location:
              rules:
                - allow:
                  - Component
                  - System
                  - API
                  - Resource
                  - Location
                  - Template
                  - User
                  - Group
              target: https://{{ "{{" }} gitlab_hostname {{ "}}" }}/rhdh/users/-/blob/main/{{ "{{" }} cluster {{ "}}" }}.yaml
              type: url

        - name: Check if users location already exists
          set_fact:
            users_location_exists: "{{ "{{" }} existing_locations | selectattr('target', 'equalto', users_location.target) | list | length > 0 {{ "}}" }}"

        - name: Define new catalog locations
          set_fact:
            new_catalog_locations: "{{ "{{" }} new_catalog_locations | default([]) + [users_location] {{ "}}" }}"
          when: not users_location_exists | default(false)

        - name: Define opencodequest templates location
          set_fact:
            opencodequest_location:
              rules:
                - allow:
                  - Template
              target: https://{{ "{{" }} gitlab_hostname {{ "}}" }}/rhdh/opencodequest-templates/-/blob/master/scaffolder-templates/opencodequest-templates.yaml
              type: url

        - name: Check if opencodequest location already exists
          set_fact:
            opencodequest_location_exists: "{{ "{{" }} existing_locations | selectattr('target', 'equalto', opencodequest_location.target) | list | length > 0 {{ "}}" }}"

        - name: Add opencodequest location to new catalog locations
          set_fact:
            new_catalog_locations: "{{ "{{" }} new_catalog_locations | default([]) + [opencodequest_location] {{ "}}" }}"
          when: not opencodequest_location_exists | default(false)

        - name: Update catalog locations in the ConfigMap
          set_fact:
            configmap_data_dict: "{{ "{{" }} configmap_data_dict | combine({'catalog': {'locations': new_catalog_locations}}, recursive=True , list_merge='prepend') {{ "}}" }}"
          when: new_catalog_locations | default([]) | length > 0

        # - name: Print configmap_data_dict
        #   debug:
        #     msg: " {{ "{{" }} configmap_data_dict | to_nice_json {{ "}}" }}"

        # - name: Create a file with configmap_data_dict content
        #   copy:
        #     content: "{{ "{{" }} configmap_data_dict | to_nice_yaml {{ "}}" }}"
        #     dest: output_file.yaml  # Specify the desired output file path

        # - name: Define new catalog rules
        #   set_fact:
        #     new_catalog_rules:
        #       - rules:
        #         - allow:
        #           - Component
        #           - System
        #           - API
        #           - Resource
        #           - Location
        #           - Template
        #           - User
        #           - Group

        # - name: Update catalog rules in the ConfigMap
        #   set_fact:
        #     configmap_data_dict: "{{ "{{" }} configmap_data_dict | combine({'catalog': {'rules': new_catalog_rules}}, recursive=True) {{ "}}" }}"

        - name: Update the ConfigMap with modified data
          kubernetes.core.k8s:
            definition: 
              apiVersion: v1
              kind: ConfigMap
              metadata:
                name: backstage-developer-hub-app-config
                namespace: backstage
              data:
                app-config.yaml: "{{ "{{" }} configmap_data_dict | to_nice_yaml {{ "}}" }}"
          register: update_configmap_result

        - name: Force deployment of RHDH (remove pod)
          kubernetes.core.k8s:
            state: absent
            api_version: v1
            kind: Pod
            namespace: backstage
            label_selectors: "app.kubernetes.io/name=developer-hub"
          when: update_configmap_result.changed
