apiVersion: v1
kind: ConfigMap
metadata:
  name: devspaces-config-job-config
  namespace: {{ .Values.namespace }}
data:
  GITOPS_REPO_URL: "{{ .Values.gitops.repoUrl }}"
  GITOPS_BRANCH: "{{ .Values.gitops.branch }}"

